/* Reset default spacing */
* {
    box-sizing: border-box;
}

/* Body styling */

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: Tahoma, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* ================= HEADER & NAVIGATION ================= */

header {
    background-color: black;
    padding: 20px 142px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

nav h1 {
    font-size: 25px;
}

/* Navigation list */

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li {
    font-size: 16px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

/* Hover effect */

nav ul li a:hover {
    color: #6b5d5d;
}

/* ================= Menu toggle ================= */

.menu-toggle {
    display: none;
}

/* ================= hamburger icon ================= */

.menu-toggle-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* ================= MAIN / HERO SECTION(Home page) ================= */

main {
    flex: 1;
    padding: 40px 142px;
}

.hero {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.hero img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.hero h2 {
    margin-bottom: 15px;
    color: black;
    font-size: 26px;
}

.hero p {
    font-size: 16px;
    line-height: 1.6;
}



/* ================= CSS for project page ================= */

.projects{
    max-width: 1100px;
    margin: auto;
}
.projects h2 {    
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
    color: black;
}

/* ================= Individual project-item ================= */

.project-item {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 1s ease;
}

.project-item:hover {
    transform: translate(-6px);
}

.project-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.project-item p {
    font-size: 16px;
    line-height: 1.6;
}

/* ================= Project-Grid ================= */

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* ================= CSS for contact page ================= */

.container {
    max-width: 600px;
    margin: auto;
}

.container h2 {
    text-align: left;
    font-size: 16px;
    margin-bottom: 15px;
    color: black;
}

/* ================= Form label ================= */

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* ================= Form input fields ================= */

form input,
form textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

/* ================= Textarea specifying ================= */

form textarea {
    resize: vertical;
    min-height: 100px;
}

/* ================= Submit button ================= */

button {
    padding: 5px;
    border: 1px solid black;
    background: rgba(0,0,0,0.1);
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #6b5d5d;
}


/* ================= FOOTER ================= */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

/* ================= RESPONSIVE DESIGN ================= */

@media (max-width: 768px) {

    /* ================= hamburger ================= */

    .menu-toggle-icon {
        display: block;
    }

    nav {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .hero {
        padding: 25px;
    }

    .hero img {
        width: 140px;
        height: 140px;
    }

    .video iframe {
        height: 250px;
    }
}

